{% extends "bace.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="statusbar">
    <h2 class="status-title">Dashboard</h2>
    <div class="total-uploaded status">
        <h3 class="count">{{ data.upload_data.today_uploaded }}</h3>
        <hr class="line" />
        <h3>Today Uploaded</h3>
    </div>
    <div class="downloading-now status">
        <h3 class="count">{{ data.upload_data.now_downloading }}</h3>
        <hr class="line" />
        <h3>Downloading</h3>
    </div>
    <div class="total-uploaded-yesterday status">
        <h3 class="count">{{ data.upload_data.yesterday_uploaded }}</h3>
        <hr class="line" />
        <h3>Yesterday Uploaded</h3>
    </div>
    <div class="all-time-uploaded status">
        <h3 class="count">{{ data.upload_data.all_uploaded }}</h3>
        <hr class="line" />
        <h3>Total uploaded</h3>
    </div>
    <div class="all-time-not-uploded status">
        <h3 class="count">{{ data.upload_data.all_deleted }}</h3>
        <hr class="line" />
        <h3>Download Failed</h3>
    </div>
</div>

<div class="downloading-status">
    <h2>QBIT Status</h2>
    <table class="downloading-table">
        <tr>
            <th class="table-content">Title</th>
            <th class="table-content">Size</th>
            <th class="table-content">Done(%)</th>
            <th class="table-content">Language</th>
            <th class="table-content">Status</th>
            <th class="table-content">Speed</th>
        </tr>
        {% for downloading in data.upload_data.all_downloading %}
        <tr>
            <td class="table-content">{{ downloading.title }}</td>
            <td class="table-content">{{downloading.size}}</td>
            <td class="table-content">{{ downloading.progress }}%</td>
            <td class="table-content">{{ downloading.lenguage }}</td>
            <td class="table-content">{{ downloading.status }}</td>
            <td class="table-content">{{ downloading.speed }}/PS</td>
        </tr>
        {% endfor %}
    </table>


</div>


<div class="log">
    <h2 class="log-message">BOT Work History</h2>
    <div class="history">
        {% for line in data.logs %}
        <p class="log-line">{{ line }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}