{% extends "bace.html" %}
{% block title %}{{ title }} Report{% endblock %}

{% block content %}
<div class="json_report">
    <h2 class="tite">Report of {{ title }}</h2>
    <div class="all-movie">
        {% for item in data %}
        <div class="movie">
            <img class="poster_link" src="{{ item.poster_link }}" alt="The.Wager.2020.1080p.WEBRip.x264-RARBG">
            <h4 class="movie-name">{{ item.name }}</h4>
            <p class="language">{{ item.language }}</p>
            <p class="genres">{{ item.genres }}</p>
            <p><a class="imdb" href="https://www.imdb.com/title/tt{{ item.id }}" target="_blank"
                    rel="noopener noreferrer">IMDB</a></p>
            <h4 class="search-title">Search Results</h4>
            <div class="search-results">
                {% for search in item.search_results %}
                <p class="results-p"><a class="results-a" href="{{ search.link }}" target="_blank"
                        rel="noopener noreferrer">{{ search.name }}</a></p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>
</div>
{% endblock %}